<form>
  <h1>Terms from Body</h1>
  <textarea name="body" id="body" cols="50" rows="4">
    <%= body %>
  </textarea>
  <br>
  <input type="submit">
</form>

<ul>
  <% terms.each do |term| %>
    <li><%= term %></li>
  <% end %>
</ul>