<html>
<head>
  <style>
      body {
        font: system-ui;
        margin: auto;
        padding-top: 2rem;
        max-width: 15rem;
        background: whitesmoke;
      }

      h1 {
        font-weight: normal;
        font-size: large;
      }

      input {
        width: 100%;
        padding: .5rem;
      }

      .result {
        text-align: center;
        background: white;
        padding: .5rem;
      }
  </style>

</head>

<body>
  <%= yield %>
</body>
</html>